footer {
    background-color: #fff1f2;
    color: #3f6212;
    padding: 10px;
    text-align: center;    
    border-top: #c05300 1px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 4.5em;
}

.icons {
    width: 3em;
    height: 3em; 
    color: #3f6212;
}

/*  */

footer p {
    margin: 0 0 0.5em 0;
    font-size: 1.2rem;
    color: #c05300;
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: #3f6212;
    margin: 0 5em;
}

@media only screen and (max-width: 460px) {
    footer {
        padding: 10px;
        height: auto;
    }

    footer p {
        font-size: 1rem;
        margin: 0 0 0.4em 0;
    }
    
    footer a {
        margin: 0 1em;
    }

    .icons {
        width: 2em;
        height: 2em;
    }
}

@media only screen and (min-width: 461px) and (max-width: 600px) {
    footer {
        padding: 10px;
        height: 3em;
    }

    footer p {
        font-size: 1.2rem;
        margin: 0 0 0.2em 0;
    }
    
    footer a {
        margin: 0 3em;
    }

    .icons {
        width: 3em;
        height: 3em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    footer {
        padding: 10px;
        height: 3em;
    }
    
    footer a {
        margin: 0 4em;
    }

    .icons {
        width: 3em;
        height: 3em;
    }
}